html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
body {
	background-color: #e0e0cc;
}
* {
	box-sizing: border-box;
}
/*
.header-helper {
  width: 100%;
  height: 255px;
  position: absolute;
  top: 0px;
  z-index = -100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(255,0,0,0));
}*/

/*header and banner*/

/*--------------------------------------------------*/

.header-line {
	width: 100%;
	height: 1px;
	background-color: white;
	opacity: .45;
	top: 75px;
	position: absolute;
	z-index: 1;
}
.banner {
	width: 100%;
	height: 550px;
  position: relative;
  z-index: 5;
}
.banner:after {
  content:"";
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  top: 0;
  z-index:3;
}
.banner .banner-darken {
	width: inherit;
	height: inherit;
	position: absolute;
  z-index: 4;
	top: 0px;
	background-color: #2c0438;
	opacity: .55;
}
.banner img {
  z-index: 4;
  position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-caption {
  z-index: 4;
	position: relative;
	bottom: 50%;
  margin: 0 auto;
  text-align: center;
	color: white;
	width: 75%;
	min-width: 280px;
	max-width: 800px;
}
.banner-caption h1 {
	font-size: 65px;
	max-width: 1200px;
	display: inline-block;
	font-family: 'Ramaraja', serif;
	line-height: 60px;
}
.banner-caption p {
  margin: 15px;
	font-size: 30px;
  font-style: italic;
	font-family: 'Crimson Text', serif;
}
@media screen and (max-width: 767px) {
	.banner {
		height: 550px;
	}
	.banner-caption {
		bottom: 55%;
	}
	.banner-caption p {
		font-size: 24px;
	}
}
@media screen and (max-width: 600px) {
	.banner {
		height: 500px;
	}
	.banner-caption {
		bottom: 55%;
		
	}
	.banner-caption h1 {
		font-size: 45px;
	}
	.banner-caption p {
		font-size: 20px;
	}
  .supercard {
    margin-top: -50px;
  }
}
@media screen and (max-width: 350px) {
	.banner-caption h1 {
		font-size: 45px;
		line-height: 44px;
	}
	.banner-caption p {
		font-size: 20px;
	}
  .scroll-down p{
    font-size: 18px;
  }
  
}
@media screen and (max-height: 450px) and (hover:none) {
	.banner {
		height: 350px;
	}
  .banner-caption {
    width: 85%;
  }
	.banner-caption h1 {
		font-size: 45px;
		line-height: 44px;
	}
	.banner-caption p {
		font-size: 20px;
	}
  .supercard {
    margin-top: -200px;
    
  }
  .scroll-down {
    margin-top: -20px;
  }
}
@media screen and (max-height: 400px) and (hover:none) {
	.banner {
		height: 320px;
	}
  .banner-caption {
    width: 85%;
  }
	.banner-caption h1 {
		font-size: 45px;
		line-height: 44px;
	}
	.banner-caption p {
		font-size: 20px;
	}
  .supercard {
    margin-top: -250px;
    
  }
  .scroll-down {
    margin-top: -20px;
  }
}
.banner-caption a {
	background-color: #83bc41;
	border-radius: 0px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
	color: white;
  font-size: 25px;
	display: block;
	font-family: 'Josefin Sans', serif;
  font-variant-caps: all-small-caps;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
  margin: 7px auto;
	text-align: center;
	text-decoration: none;
	width: 150px;
	box-shadow: inset 0 0 0 0 #fff;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
}
.banner-caption a:hover {
  width: 165px;
	box-shadow: inset 0 -50px 0 0 #fff;
	color: #05240b;
}

.footer {
	display: flex;
	width: 100%;
  position: relative;
  background-color: #224b09;
  position: relative;
  z-index: 4;
}
.footer:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: .5;
  opacity: .25;
  background: url(../images/clouds.jpg);
  background-size: cover;
}
.footer>li {
  position: relative;
  z-index: 100;
	color: #c3bbc0;
	padding: 25px;
	list-style: none;
	font-size: 18px;
	font-family: 'Crimson Text', serif;
}
.footer h2 {
	color: white;
	font-size: 22px;
	margin-bottom: 16px;
}
.footer p {
	margin: 6px 0 12px 0;
	line-height: 22px;
	font-size: 16px;
	font-family: 'Crimson Text', serif;
}
/*first flex-item*/

.footer>li:nth-child(1) {
	flex: 1 1 0;
}
/*second flex-item*/

.footer>li:nth-child(2) {
	flex: 2 1 0;
	display: flex;
  padding-right: 0;
}
.footer>li .linklist {
	flex: 1 1 0;
	margin-right: 12px;
}
.linklist li {
	list-style: none;
	margin: 12px 0;
	line-height: 16px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.footer li .linklist a {
	color: #c3bbc0;
	text-decoration: none;
}
.footer li .linklist a:hover {
	color: white;
}
@media screen and (max-width: 640px) {
	.footer {
		display: block;
	}
	.footer>li {
		padding-bottom: 2px;
	}
	.linklist li {
		margin: 24px 0;
		font-size: 14px;
		line-height: 20px;
	}
	.footer>li .linklist {
		margin: 0;
	}
}
.copyright {
	background-color: #2f5f00;
	color: #c3bbc0;
	padding: 25px;
	font-style: italic;
	text-align: center;
  position: relative;
  z-index: 4;
}
.email {
  text-decoration: underline;
  text-decoration-color: #a896a1;
}
.supercard /*covers the bouncy text*/ {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 120px;
  top: 580px;
  background-color: #e0e0cc;
}
.card {
  width: 100%;
  height: 380px;
  margin: 40px 0;
  position: relative;
  z-index: 10;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -20;
  opacity: 0.3;
}
.card:before{
  content: "";
  background-color:#151700;
  top: 0;
  left: 0;
  opacity: .3;
  width: 100%;
  height: 100%;
  z-index: -15;
  position: absolute;
}
.card .title, .card .caption {
  position: relative;
  z-index: -10;
  color: white;
}
.cardmonte {
  width: 75%;
  max-width: 500px;
  margin: auto;
  top: 19%;
  position: relative;
  padding: 20px;
  display: block;
}
.card .title{
  font-size: 80px;
  display: block;
  float: left;
  padding: 20px;
  font-family: 'Ramaraja', sans-serif;
}
.card .caption {
  font-size: 25px;
  display: block;
  padding-top: 25px;
  line-height: 35px;
  font-family: 'Ramaraja', sans-serif;
}
.line {
  left: -40px;
  top: 95px;
  height: 2px;
  width: 10%;
  background-color: white;
  position: absolute;
}
.yogurt-power {
  z-index: 1;
  font-size: 30px;
  font-family: 'Leckerli One', serif;
  top: 280px;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: auto;
}
.yogurt-power a {
  color: white;
  text-decoration: none;
  position: relative;
  left: 0;
    -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}
.yogurt-power a:hover {
  left: 8px;
}
.yogurt-power a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}
.yogurt-power a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media screen and (max-width: 640px) {
  .line {
    display: none;
  }
}
@media screen and (max-width: 640px) and (min-width: 540px) {
  .card .caption {
    font-size: 22px;
    padding-top: 12px;
  }
  .card .title {
    font-size:45px;
  }
  .cardmonte {
    width: 90%;
  }
}

@media screen and (max-width: 540px) {
  .card .caption {
    font-size: 22px;
    line-height: 20px;
    padding-top: 12px;
  }
  .card .title {
    font-size:45px;
  }
  .cardmonte {
    width: 90%;
  }
  .yogurt-power {
    font-size: 20px;
  }
}
/*Norican|Lackerli+One|Niconne|Marck+Script*/
.scroll-down {
  z-index: 2;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: 'Leckerli One', serif;
  color: #28620b;
  animation-name: updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: updown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
}
@keyframes updown {
  0% {padding-top: 45px;}
  50% {padding-top: 35px;}
  100% {padding-top: 45px;}
}
@-webkit-keyframes updown {
  0% {padding-top: 45px;}
  50% {padding-top: 35px;}
  100% {padding-top: 45px;}
}

hr {
  border: none;
  border-left: 15px dotted white;
  width: 0;
  height: 1000px;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 5%;
}

.trail-container {
  position: absolute;
  float: left;
  width: 450px;
  height: 1246px;
  margin-top: 110px;
  margin-left: 40px;
}
@media screen and (max-width: 490px) {
  .trail-container {
    margin-left: -130px;
  }
}
@media screen and (max-width: 390px) {
  .trail-container {
    margin-left: -180px;
  }
}
.trail-container::before {
  content:"";
  position: absolute;
  width: 100%;
  height: 250px;
  top: -200px;
  left: 0;
  background:  #e0e0cc;
  z-index: 1;
}
.trail-container img {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.trail-container .trail-dark {
  position: fixed;
  top: 0;
  margin-left: 12px;
  width: 430px;
  height: 80%;
  box-shadow: 0 7px 10px #35a000;
  background-color: #35a000;
}
.trail-container .trail-slight {
  position: fixed;
  top: 0;
  width: 450px;
  height: 100%;
  background-color:  #8d7b54;
  opacity: .24;
}
.trail-post {
  clear: both;
}
.trail-container p {
  z-index: 1000;
  position: relative;
  font-size: 50px;
  width: 0px;
  z-index: 10;
}
.trail-container p::after{
  content: "";
  background-color:  #c6baa2;
  opacity: .64;
  width: 30px;
  height: 20px;
  position: absolute;
  z-index: -1;
  border-radius: 19px;
  top: 39px;
  left: 0px;
}
.fa-map-marker {
  display: block;
  position: absolute;
  color: #ff0000;
  
}

.map1 {
  left: 194px;
  top: 40px;
  display: none;
}
.map2 {
  top: 80px;
  left: 284px;
}
.map3 {
  top: 505px;
  left: 91px;
}
.map4 {
  top: 925px;
  left: 264px;
}
.map5 {
  top: 1150px;
  left: 134px;
  color: #2e5f16;
}
.map5::after{
  display: none;
}

.mbanner {
	width: 100%;
	height: 250px;
  position: relative;
  z-index: 4;
}
.mbanner .mbanner-darken {
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0px;
	background-color: #2c0438;
	opacity: .55;
}
.mbanner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mbanner-caption a {
	position: absolute;
	bottom: 10px;
  margin: 0 20px;
	color: white;
	width: 75%;
	min-width: 280px;
	max-width: 800px;
  text-decoration: none;
}
.mbanner-caption h1 {
	font-size: 65px;
	max-width: 1200px;
	display: inline-block;
	font-family: 'Ramaraja', serif;
	line-height: 60px;
}
.truck-holder {
  width: 100%; 
  text-align: right;
  font-size: 50px;
  margin-top: -150px;
  padding-top: 25px;
  color: #244e0f;
  padding-right: 25px;
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-name: jump;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -o-animation-name: jump;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -moz-animation-name: jump;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
}
@keyframes jump {
  0% {padding-top:25px; padding-bottom: 0px;}
  50% {padding-top:20px; padding-bottom: 5px;}
}
.title.moving {
  font-size: 30px;
}
